<h2>Add an Announcement</h2>

{{#if isAnnouncementFormShowing }}
  <form>
    <label for="title">Title:</label>
    {{input class="form-control" value=title id="title"}}
    <label for="type">Type:</label>
    {{#x-select class="form-control" value=type action="selectType"}}
      {{#x-option value="News"}}News{{/x-option}}
      {{#x-option value="Sale"}}Sale{{/x-option}}
      {{#x-option value="Weather"}}Weather{{/x-option}}
    {{/x-select}}

    <!-- <select {{ action 'selectType' (mut value) on='change' value="target.value" }}>
      <option value="Sale" >Sale</option>
      <option value="News" >News</option>
      <option value="Weather" >Weather</option>
    </select> -->
    <label for="date">Date:</label>
    {{input class="form-control" type="date" value=date id="date"}}
    <label for="body">Body:</label>
    {{input class="form-control" value=body id="body"}}
    <button class="btn btn-primary" {{action 'createAnnouncement'}}>Add Announcement</button>
  </form>
{{ else }}
  <button class="btn btn-lg btn-success" {{action 'showAnnouncementForm'}}>Create New Announcement</button>
{{/if}}




<!-- {{input value=type id="type"}} -->
